#Prueba de evalucación de conocimientos

##Tipos de datos
###1. Numérico
- Entero: int
- Decimal: float
###2: Alfanumérico o cadena de caracteres.
(string - str)
###3. Lógico:
-Boolean - bool
###4. Lista:
-list[]
###5. Diccionario:
-dict{}

Para saber que tipos de datos estamos manipulando, se usa la funcióm type()

In [ ]:
5+3*4

17

In [ ]:
type(5+3*4)

int

In [ ]:
print(f"5+3*4={5+3*4} y da como resultado un valor de tipo {type(5+3*4)}")

5+3*4=17 y da como resultado un valor de tipo <class 'int'>

In [ ]:
#Cuando se usa + con "" sucede la concatenación
"5"+"3"*2

'533'

In [ ]:
# = es asignación. == es comparación
2 ** 11 == 1000

##Operaciones lógicas
###1. Disyunción (o) :
 Una proposición es verdadera, si al menos una de ella lo es: en Phyton se puede enunciar con la palabra **or** o con **||**
Ejemplo V OR V da V.
V OR F da V.
F OR V da V.
F OR F da F.
###2. Conjunción (y):
una preposición es verdadera, si y SOLO SI, ambas preposiciones son verdaderas. En Pythn, se utiliza la palabra **and**
o **&&** para su uso.
Ejemplo:
F and F da F
F and V da F
V and F da F
V and V da V
###3. Negación (no):
Niega el valor de la verdad de una preposición. Si el valor de la verdad es true, se vuelve false. En Python se usa la palabra **not** o ~ para denotarla

In [ ]:
a=2 ** 11 == 1000 or 2 ** 9 == 100

In [ ]:
print(f"El valor de la expresion a=2 ** 11 == 1000 or 2 ** 9 == 100 es {a}")

El valor de la expresion a=2 ** 11 == 1000 or 2 ** 9 == 100 es False

In [ ]:
#Colocar un tipo de de dato antes del dato, se usa para transpormar el dato que esta dentro del parentesis en el dato que esta fuera del parentesis
int("Cincuenta")

In [ ]:
int("50")

In [ ]:
str("50")

In [ ]:
#Siempre que halla una división, el resultado dará decimal (float)
16/16 + 384/24

17.0

In [ ]:
type(16/16 + 384/24)

float

In [ ]:
# % es el módulo de la operación.
600 + 18%2

600

In [ ]:
0 < (4096 % 10) < 6

False

In [ ]:
'Max' + 'Min'

'MaxMin'

In [ ]:
b='Max' + 'Min'

In [ ]:
print(f"El valor de la expresión 'Max' + 'Min' es {b} {type(b)}")

El valor de la expresión 'Max' + 'Min' es MaxMin <class 'str'>

In [ ]:
#ABC() Es una función no definida
ABC() * DEF()

NameError: name 'ABC' is not defined

In [ ]:
float(-int("7")+int('90'))

83.0

abs(len('seis') - len ('tres'))
1. **abs**= valor absoluto.
2. **len**= cuenta la cantidad de letras de un string

- len('seis')=4
- len('tres')=4

In [ ]:
abs(len('seis') - len('tres'))

0

In [ ]:
# 0 es el único 'false'
bool(1210) or bool(-3465)

True

In [ ]:
float(str(int('8' * 3) / 3)[3])

ValueError: could not convert string to float: '.'

In [ ]:
int('8' * 3) / 3

296.0

In [ ]:
str(296.0)

'296.0'

In [ ]:
#Todos los str son listas por eso podemos conocer sus posiciones. Y se comienzan a contar desde 0
str(296.0)[3]

'.'