<a href="https://colab.research.google.com/github/linda1305go/PROGCOM/blob/main/listas_y_diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Listas

Una lista en programación es una estructura de datos que almacena una secuencia ordenada de elementos, que pueden ser de cualquier tipo (números, cadenas, objetos, etc.). Los elementos están indexados y pueden ser modificados, añadidos o eliminados. En muchos lenguajes, las listas permiten elementos duplicados y varían en longitud.

In [ ]:
# Definición de las listas
lista1 = [13, 5, 27, 4, 11, 80]
lista2 = ["Linda", "Camila", "Garnica", "Olarte", "Linda", "Nersy", "Olarte", "Torres"]

# 1. append(item): Agrega un elemento al final de la lista
lista1.append(99)
print(lista1)

lista2.append("Gomez")
print(lista2)

[13, 5, 27, 4, 11, 80, 99]
['Linda', 'Camila', 'Garnica', 'Olarte', 'Linda', 'Nersy', 'Olarte', 'Torres', 'Gomez']

In [ ]:
# 2. insert(index, item): Inserta un elemento en una posición específica
lista1.insert(2, 22)
print(lista1)


lista2.insert(1, "Maria")
print(lista2)

[13, 5, 22, 27, 4, 11, 80, 99]
['Linda', 'Maria', 'Camila', 'Garnica', 'Olarte', 'Linda', 'Nersy', 'Olarte', 'Torres', 'Gomez']

In [ ]:
# 3. remove(item): Elimina la primera aparición del elemento
lista1.remove(22)
print(lista1)


lista2.remove("Linda")
print(lista2)

[13, 5, 27, 4, 11, 80, 99]
['Maria', 'Camila', 'Garnica', 'Olarte', 'Linda', 'Nersy', 'Olarte', 'Torres', 'Gomez']

In [ ]:
# 4. pop([index]): Elimina y devuelve el elemento en el índice especificado
lista1.pop()
print(lista1)


lista2.pop(2)
print(lista2)

[13, 5, 27, 4, 11, 80]
['Maria', 'Camila', 'Olarte', 'Linda', 'Nersy', 'Olarte', 'Torres', 'Gomez']

In [ ]:
# 5. clear(): Elimina todos los elementos de la lista
lista1.clear()
print(lista1)


lista2.clear()
print(lista2)

[]
[]

In [ ]:
# 6. index(item): Devuelve el índice de la primera aparición del elemento
indice_80 = lista1.index(80)
print(indice_80)


indice_olarte = lista2.index("Olarte")
print(indice_olarte)

ValueError: 80 is not in list

In [ ]:
# 7. count(item): Devuelve el número de veces que el elemento aparece en la lista
cuenta_5 = lista1.count(5)
print(cuenta_5)

cuenta_olarte = lista2.count("Olarte")
print(cuenta_olarte)

0
0

In [ ]:
# 8. sort([reverse=False]): Ordena los elementos de la lista en orden ascendente
lista1.sort()
print(lista1)



lista2.sort()
print(lista2)

[]
[]

In [ ]:
# 9. reverse(): Invierte el orden de los elementos de la lista
lista1.reverse()
print(lista1)
# Resultado: [80, 27, 13, 11, 5, 4]

lista2.reverse()
print(lista2)
# Resultado: ['Torres', 'Olarte', 'Olarte', 'Nersy', 'Maria', 'Linda', 'Gomez', 'Camila']

[]
[]

In [ ]:
# 10. extend(iterable): Añade los elementos de otro iterable al final de la lista
lista1.extend([100, 200])
print(lista1)
# Resultado: [80, 27, 13, 11, 5, 4, 100, 200]

lista2.extend(["Perez", "Ramirez"])
print(lista2)
# Resultado: ['Torres', 'Olarte', 'Olarte', 'Nersy', 'Maria', 'Linda', 'Gomez', 'Camila', 'Perez', 'Ramirez']

[100, 200]
['Perez', 'Ramirez']

In [ ]:
# 11. copy(): Devuelve una copia superficial de la lista
copia_lista1 = lista1.copy()
print(copia_lista1)
# Resultado: [80, 27, 13, 11, 5, 4, 100, 200]

copia_lista2 = lista2.copy()
print(copia_lista2)
# Resultado: ['Torres', 'Olarte', 'Olarte', 'Nersy', 'Maria', 'Linda', 'Gomez', 'Camila', 'Perez', 'Ramirez']

#Diccionarios

In [ ]:
# Crear un diccionario usando lista1 como claves y lista2 como valores
diccionario = dict(zip(lista1, lista2))
print(diccionario)
# Resultado: {80: 'Torres', 27: 'Olarte', 13: 'Maria', 11: 'Linda', 5: 'Nersy', 4: 'Camila'}

# 1. items(): Devuelve una vista de los pares clave-valor como tuplas
items = diccionario.items()
print(items)

{100: 'Perez', 200: 'Ramirez'}
dict_items([(100, 'Perez'), (200, 'Ramirez')])

In [ ]:
# 2. keys(): Devuelve una vista de todas las claves del diccionario
claves = diccionario.keys()
print(claves)

dict_keys([100, 200])

In [ ]:
# 3. values(): Devuelve una vista de todos los valores del diccionario
valores = diccionario.values()
print(valores)

dict_values(['Perez', 'Ramirez'])

In [ ]:
# 4. get(clave, [valor_por_defecto]): Devuelve el valor asociado a la clave. Si no existe, devuelve un valor por defecto.
valor = diccionario.get(27)
print(valor)

None

In [ ]:
valor_inexistente = diccionario.get(100, "No existe")
print(valor_inexistente)

Perez

In [ ]:
# 5. update(otro_diccionario): Actualiza el diccionario con los pares clave-valor de otro diccionario
diccionario.update({80: "Gomez", 100: "Perez"})
print(diccionario)

{100: 'Perez', 200: 'Ramirez', 80: 'Gomez'}

In [ ]:
# 6. pop(clave, [valor_por_defecto]): Elimina y devuelve el valor asociado a la clave. Si no existe, devuelve un valor por defecto.
valor_eliminado = diccionario.pop(13)
print(valor_eliminado)
print(diccionario)

KeyError: 13

In [ ]:
# 7. popitem(): Elimina y devuelve el último par clave-valor insertado
ultimo_elemento = diccionario.popitem()
print(ultimo_elemento)


print(diccionario)

(80, 'Gomez')
{100: 'Perez', 200: 'Ramirez'}

In [ ]:
# 8. clear(): Elimina todos los elementos del diccionario
diccionario.clear()
print(diccionario)

{}

In [ ]:
# 9. fromkeys(claves, [valor]): Crea un nuevo diccionario a partir de un iterable de claves y un valor opcional.
nuevas_claves = [1, 2, 3]
nuevo_diccionario = dict.fromkeys(nuevas_claves, "Valor por defecto")
print(nuevo_diccionario)

{1: 'Valor por defecto', 2: 'Valor por defecto', 3: 'Valor por defecto'}

In [ ]:
# 10. copy(): Devuelve una copia superficial del diccionario
diccionario_original = {1: 'uno', 2: 'dos'}
copia_diccionario = diccionario_original.copy()
print(copia_diccionario)

{1: 'uno', 2: 'dos'}

#EJERCICIOS DE CLASE

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
lista1 = ["Mi", "nom", "es", "Lin"]
lista2 = ["", "bre", "", "da"]
resultado = [lista1[i] + lista2[i] for i in range(len(lista1))]
print(resultado)

['Mi', 'nombre', 'es', 'Linda']

In [ ]:
list3 = [6, 7, 4, 9, 16, 26, 36, 49]
cuadrados = [x**2 for x in list3]
print(cuadrados)

[36, 49, 16, 81, 256, 676, 1296, 2401]

In [ ]:
lista1 = ["Hola", "toma"]
lista2 = ["Querido", "Señor"]
resultado = [x + " " + y for x in lista1 for y in lista2]
print(resultado)

['Hola Querido', 'Hola Señor', 'toma Querido', 'toma Señor']

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in range(len(list1)):
    print(list1[i], list2[-(i+1)])

10 400
20 300
30 200
40 100

In [ ]:
list4 = ["Mike", '', "Emma", "Kelly", '', "Brad"]
resultado = [x for x in list4 if x != '']
print(resultado)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
lista = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lista[2][2].append(7000)
print(lista)

In [ ]:
lista1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lista2 = ["h", "i", "j"]
lista1[2][1][2].extend(lista2)
print(lista1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
list5 = [5, 10, 15, 20, 25, 50, 20]
indice = list5.index(20)
list5[indice] = 200
print(list5)

In [ ]:
lista = [5, 20, 15, 20, 25, 50, 20]
sin_duplicados = []
for item in lista:
    if item not in sin_duplicados:
        sin_duplicados.append(item)
print(sin_duplicados)

[5, 20, 15, 25, 50]

In [ ]:
lista = [5, 20, 15, 20, 25, 50, 20]
contador = {}
for item in lista:
    if item in contador:
        contador[item] += 1
    else:
        contador[item] = 1
for key, value in contador.items():
    print(f"{key} = {value}")

5 = 1
20 = 3
15 = 1
25 = 1
50 = 1

In [ ]:
lista = [5, 20, 15, 20, 25, 50, 20]
lista.sort()
print(lista)

[5, 15, 20, 20, 20, 25, 50]

In [ ]:
lista = [5, 20, 15, 20, 25, 50, 20]
suma = sum(lista)
multiplicacion = 1
for num in lista:
    multiplicacion *= num
mayor = max(lista)
menor = min(lista)
print(f"Suma: {suma}, Multiplicación: {multiplicacion}, Mayor: {mayor}, Menor: {menor}")

Suma: 155, Multiplicación: 750000000, Mayor: 50, Menor: 5

In [ ]:
lista1 = [5, 20, 15, 20]
lista2 = [10, 5, 20, 15]
diferencias = []
for i in range(len(lista1)):
    diferencias.append(lista1[i] - lista2[i])
print(diferencias)

[-5, 15, -5, 5]

In [ ]:
lista = [20, 15, 5, 25, 30, 10, 45, 35, 40, 50]
lista.sort()
segundo_menor = lista[1]
tercer_menor = lista[2]
print(f"Segundo menor: {segundo_menor}, Tercer menor: {tercer_menor}")

Segundo menor: 10, Tercer menor: 15

In [ ]:
lista = [5, 20, 15, 20, 25, 50, 20]
lista1 = [x + lista[0] for x in lista]  # Suma con el primer elemento
lista2 = [max(x - lista[0], 0) for x in lista]  # Resta con el primer elemento
lista3 = [x * 2 for x in lista]  # Multiplicación
lista4 = [x ** 2 for x in lista]  # Cuadrado
print(f"Lista1= {lista1}")
print(f"Lista2= {lista2}")
print(f"Lista3= {lista3}")
print(f"Lista4= {lista4}")

Lista1= [10, 25, 20, 25, 30, 55, 25]
Lista2= [0, 15, 10, 15, 20, 45, 15]
Lista3= [10, 40, 30, 40, 50, 100, 40]
Lista4= [25, 400, 225, 400, 625, 2500, 400]

In [ ]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 3
resultado = [[] for _ in range(n)]
for i in range(len(lista)):
    resultado[i % n].append(lista[i])
print(resultado)

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [ ]:
lista = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
sin_ceros = [x for x in lista if x != 0]
ceros = [0] * (len(lista) - len(sin_ceros))
resultado = sin_ceros + ceros
print(resultado)

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]